* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Seaweed Script', cursive;
  color: rgb(228, 56, 86);
  font-size: 28pt;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 23pt;
  font-weight: 100;
  input {
    font-size: 23pt;
  }
}

pre {
  border-left: 4px solid #4dbf9f;
  padding-left: 5px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace, serif;
  font-size: 1em;
}

p {
  margin: 6.5pt;
}

input {
  font-family: 'Seaweed Script', cursive;
  color: rgb(228, 56, 86);
}