<p>mockObject.rjgetPath('/baz/zar/zog') result: <input value="{{ result }}"/></p>
<p>mockObject.rjgetSize() result: <input value="{{{ count }}}"/></p>
<p>But iterating over the keys, we still only get:<input value="{{#keys}}{{ . }} {{/keys}}"/></p>