<p>For reject.js 2013, we've run agave.enable(rj)<p>
<p><label>mockObject.rjgetPath('/baz/zar/zog'): </label><input value="{{ result }}"/></p>
<p><label>mockObject.rjgetSize(): </label><input value="{{{ count }}}"/></p>
<p><label>Iterating over the object returns:</label><input value="{{#keys}}{{ . }} {{/keys}}"/></p>