<p>For reject.js 2013, we've run <pre>agave.enable('rj')</pre><p>
<div class="results">
    So:
    <p><label><pre>for ( var key in mockObject )</pre>still only returns:</label><input value="{{#keys}}{{ . }} {{/keys}}"/></p>
    But
    <p><label><pre>mockObject.rjgetPath('/really/long/paths')</pre> returns: </label><input value="{{ result }}"/></p>
</div>