* {
  box-sizing: border-box;
}
h1 {
  font-family: 'Seaweed Script', cursive;
  color: #e43856;
  font-size: 28pt;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 23pt;
  font-weight: 100;
}
body input {
  font-size: 23pt;
}
pre {
  border-left: 4px solid #e43856;
  padding-left: 5px;
  white-space: pre;
  font-family: monospace, serif;
  font-size: 16pt;
  width: 50%;
}
p {
  margin: 6.5pt;
}
input {
  font-family: 'Seaweed Script', cursive;
  color: #e43856;
}
h1,
.extension,
.mockobject {
  margin: 0 auto;
  width: 50%;
}
.extension .results {
  opacity: 0;
}
.extension .results.shown {
  opacity: 1;
  transition: all 2s;
}
.extension label,
.extension input {
  width: 100%;
}
