* {
  box-sizing: border-box;
}

button {
  height: 200px;
  width: 200px;
  margin: 20px;
  background-size: auto 100%;
  &.Apparat {
    background-image: url('../apparat.jpg');
  }
  &.Boy {
    background-image: url('../boy.jpg');
  }
  &.Kraftklub {
    background-image: url('../kraftklub.jpg');
  }
}

