!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    //- Check out 'src/bower_components/prism/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section
        h1 THE ASTOUNDING ES5
        h2 ILLUSION, ENCHANTMENT AND WONDER

      section
        h1 Hello

      section
        h1 ES5
        ul
          li Some new methods
          li Some of which are shimmable
          li Some of which are not
          li Convenience

      section
        h1 defineProperty
        h2 There is magic in here.

      section
        h1 Some basic JS

      section
        h1 Doesn't work.

      section
        h1 Some basic JS try 2

      section
        h1 ES5 version

      section
      ul
        li Removed 1/3rd of the code
        li scope
        li nice name for each item
        li looks nice

      section
        h1 Let's do it for more things!

      section
        h1 Safe Extension of Inbuilt Methods

      section
        h1 No, really

      section
        h1 Quick History* Lesson
        sub *History may be more recent than expected

      section
        h1 No proper method hiding
        ul
          li Methods appeared in regular for loops
          li Nobody changed their for loops

      section
        h1 Generic names
        ul
          li String.namespace()
          li Array.find()

      section
        h1 Now

      section
        h1 enumerable: false
        p ES5 build in. not shimmable.

      section
        h1 Prefixing
        p User settable prefix

      section
        ul
          li Underscore - no methods
          li Prototype & Sugar - Have methods, but change every for loop and still run into conflicts
          li Methods, regular for loops. ES5 only

      section
        h1 "You can and should be doing that"
        h2 Brenden Eich Jquery UK 2013

      section
        h1 More magic: Live Binding

      section
        ul
          li http://twitter.com/mikemaccana
          li http://github.com/mikemaccana
          li http://mikemaccana.com

      section
        h1 Hello World

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3.bullet Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        code.language-javascript
          pre.
            bespoke.horizontal.from('article', {
              bullets: 'li, .bullet',
              hash: true,
              state: true
            });

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
