!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    //- Check out 'src/bower_components/prism/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section
        h1 THE ASTOUNDING ES5
        h2 ILLUSION, ENCHANTMENT AND WONDER

      section
        h1 Hello

      section
        h1 ES5
        ul
          li Some new methods
          li Some of which are shimmable
          li Some of which are not
          li Convenience

      section
        h1 There is magic in here.

      section
        h1 Some basic JS
        hr
        code.language-javascript
          pre.
            var users = ['Apparat', 'Boy', 'Kraftklub']
            for (var i = 0; i < users.length; i++) {
              var user = users[i],
                button = document.createElement('button');
              button.addEventListener('click', function(event){
                alert(user);
              });
              button.appendChild(document.createTextNode(user));
              document.body.appendChild(button);
            }

      section
        h1 Doesn't work.

      section
        h2 Some basic JS try 2
        hr
        code.language-javascript
          pre.
            var users = ['Apparat', 'Boy', 'Kraftklub']
            for (var i = 0; i < users.length; i++) {
              var user = users[i],
                button = document.createElement('button');
              (function(user){
                button.addEventListener('click', function(event){
                  alert(user);
                });
              })(user);
              button.appendChild(document.createTextNode(user));
              document.body.appendChild(button);
            }

      section
        h1 ES5 version
        code.language-javascript
          pre.
            ['Apparat', 'Boy', 'Kraftklub'].forEach(function(user){
              var button = document.createElement('button');
              button.appendChild(document.createTextNode(user));
              button.addEventListener('click', function(event){
                alert(user);
              });
              document.body.appendChild(button);
            })

      section
        ul
          li Removed 1/3rd of the code
          li scope
          li nice name for each item
          li looks nice

      section
        h1 Let's do it for more things!

      section
        h1 Safe Extension of Inbuilt Methods

      section
        h1 No, really

      section
        h1 Quick History* Lesson
        sub *History may be more recent than expected

      section
        h2 ES3: Non-native methods appear during iteration
        code.language-javascript
          pre.
            Object.prototype.oldStyleMethod = function oldStyleMethod (){}
            var myobject = {};
            for (var key in myobject) { console.log(key) };

      section
        h2 ES3: But native methods don't
        code.language-javascript
          pre.
            console.log(Object.prototype.toString)
            function toString() { [native code] }
            console.log(Object.prototype.oldStyleMethod)
            function oldStyleMethod(){}

      section
        h2 Added methods were always enumerable in ES3
        ul
          li Methods appeared in regular for loops
          li Nobody changed their for loops

      section
        h2 ES5: Non enumerable methods can be added
        p Requires native ES5 (not shimmable)
        code.language-javascript
          pre.
            Object.defineProperty( Object.prototype, "newStyleMethod", {
              value: function newStyleMethod(){},
              enumerable: false
            });
            for (var key in myobject) { console.log(key) };

      section
        h1 Generic names
        ul
          li String.prototype.namespace()
          li Array.prototype.find()

      section
        h1 Prefixing
        p Set a sensible prefix

      section
        ul
          li Underscore - no methods
          li Prototype & Sugar - Have methods, but change every for loop and still run into conflicts
          li Methods, regular for loops. ES5 only

      section
        quote "You can and should be doing that"
        author Brenden Eich Jquery UK 2013

      section
        h1 More magic: Live Binding

      section
        h2 Two parts
        ul
          li Object.defineProperty to call binding when data changes
          li Data-DOM binding

      section
        h1 Thanks
        p <a href="http://twitter.com/mikemaccana">@mikemaccana</a>

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
