!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Welcome our new ES5 Overlords

    //- Check out 'src/bower_components/prism/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/prism-funky.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section
        h1 Welcome our new ES5 Overlords

      section
        h1 Hello

      section
        h1 ES5
        ul
          li Some new methods
          li Some of which are shimmable
          li Some of which are not
          li Convenience

      section
        h1 There is magic in here.

      section
        h1 Some JS
        p Clicking the button should show the band name
        hr
        code.language-javascript
          pre.
            var bands = ['Apparat', 'Boy', 'Kraftklub'];
            for (var i = 0; i < bands.length; i++) {
              var band = bands[i],
                button = document.createElement('button');
              button.addEventListener('click', function(){
                alert(band);
              });
              button.appendChild(document.createTextNode(band));
              document.body.appendChild(button);
            }

      section
        h1 Doesn't work.

      section
        h2 Some basic JS (try #2)
        hr
        code.language-javascript
          pre.
            var bands = ['Apparat', 'Boy', 'Kraftklub'];
            for (var i = 0; i < bands.length; i++) {
              var band = bands[i],
                button = document.createElement('button');
              (function(band){
                button.addEventListener('click', function(){
                  alert(band);
                });
              })(band);
              button.appendChild(document.createTextNode(band));
              document.body.appendChild(button);
            }

      section
        h1 Same thing in ES5
        code.language-javascript
          pre.
            ['Apparat', 'Boy', 'Kraftklub'].forEach(function(band){
              var button = document.createElement('button');
              button.appendChild(document.createTextNode(band));
              button.addEventListener('click', function(){
                alert(band);
              });
              document.body.appendChild(button);
            })

      section
        ul
          li 1/3rd less code
          li Looks nice
          li Functions more natural for JS iteration - no need for IIFE fix

      section
        h1 Let's do it for more things!

      section
        h1 Safe Extension of Inbuilt Methods

      section
        h1 No, really

      section
        h1 Quick History* Lesson
        sub *History may be more recent than expected

      section
        h2 ES3: Non-native methods appear during iteration
        code.language-javascript
          pre.
            Object.prototype.oldStyleMethod = function oldStyleMethod (){};
            var myobject = {};
            for (var key in myobject) { console.log(key) };

      section
        h2 ES3: But native methods don't
        code.language-javascript
          pre.
            console.log(Object.prototype.toString);
            function toString() { [native code] };

      section
        h2 Added methods are always enumerable in ES3
        ul
          li Methods appeared in regular for loops
          li Entire universe did not make for loops to avoid inherited properties

      section
        h2 ES5: Non enumerable methods can be added
        p Requires native ES5 (not shimmable)
        code.language-javascript
          pre.
            Object.defineProperty( Object.prototype, "newStyleMethod", {
              value: function newStyleMethod(){},
              enumerable: false
            });
            for (var key in myobject) { console.log(key) };

      section
        h1 Generic names
        ul
          li String.prototype.namespace()
          li Array.prototype.find()

      section
        h1 Prefixing
        p Set a sensible prefix

      section
        ul
          li Underscore - no methods
          li Prototype & Sugar - Have methods, but change every for loop and still run into conflicts
          li Methods, regular for loops. ES5 only

      section
        i "I've been extending native objects with prefixed methods to avoid conflicts. Is that OK?"
        h2 <i>"You can do that. You should do that."</i>
        author <a href="http://vimeo.com/66711027">Brendan Eich</a>

      section
        h1 More magic: Live Binding

      section
        h2 Two parts
        ol
          li A <strong>data → DOM binding</strong> (I like mustache, so Ractive.js).
          li <strong>Object.defineProperty</strong> to call binding when data changes

      section
        h3 Live binding with defineProperty and Ractive
        code.language-javascript
          pre.
            var livebind = function(object, binding, properties){
              properties.forEach(function(property){
                var hiddenProperty = '_'+property
                Object.defineProperty(object, property, {
                  get: function(){ return testData[hiddenProperty]; },
                  set: function(newValue){
                    testData[hiddenProperty] = newValue;
                    binding.set(property, newValue)
                  },
                  enumerable: true,
                  configurable: true
                });
              })
            }

      section
        h2 Note
        ol
          li This is top level only
          li But it's still pretty cool

      section
        h1 <strong>ES5-only</strong> is coming
        ul
          li For many, it's already here
          li Use ES5 methods directly (no need for big function libraries)
          li Don't be scared to extend inbuilts - just name things correctly
          li Start investigating what can't be shimmed

      section
        h1 Thanks.
        p <a href="http://twitter.com/mikemaccana">@mikemaccana</a>

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
